
html {

    @font-face {
        font-family: 'ralewaybold';
        src: url('raleway-bold-webfont.woff2') format('woff2'),
        url('raleway-bold-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'ralewaylight';
        src: url('raleway-light-webfont.woff2') format('woff2'),
        url('raleway-light-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'ralewayregular';
        src: url('raleway-regular-webfont.woff2') format('woff2'),
        url('raleway-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

}

.center {
    width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #000000;
}

.menu {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 15px;
}

.logo {
    color: #ffffff;
    font-weight: lighter;
    padding-left: 70px;
}

.logo span {
    color: aquamarine;
}

.nav {
    color: white;
}

.nav__list {
    display: flex;

}

.nav__list__item {
    padding-right: 55px;
}