
html {

    @font-face {
        font-family: 'ralewaybold';
        src: url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
        url('../fonts/raleway-bold-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'ralewaylight';
        src: url('../fonts/raleway-light-webfont.woff2') format('woff2'),
        url('../fonts/raleway-light-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'ralewayregular';
        src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
        url('../fonts/raleway-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
}

body {
    font-family: ralewayregular, sans-serif;
}

.center {
    width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #000000;
}

.menu {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 15px;
}

.logo {
    color: #ffffff;
    font-weight: lighter;
    padding-left: 70px;
}

span {
    color: aquamarine;
}

.nav {
    color: white;
}

.nav__list {
    display: flex;

}

.nav__list__item {
    padding-right: 55px;
}

.section1 {
    height: 450px;
    margin-top: 60px;
    background: rgba(209,209,209,1);
    background: -moz-linear-gradient(top, rgba(209,209,209,1) 0%, rgba(254,254,254,1) 0%, rgba(219,219,219,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(209,209,209,1)), color-stop(0%, rgba(254,254,254,1)), color-stop(100%, rgba(219,219,219,1)));
    background: -webkit-linear-gradient(top, rgba(209,209,209,1) 0%, rgba(254,254,254,1) 0%, rgba(219,219,219,1) 100%);
    background: -o-linear-gradient(top, rgba(209,209,209,1) 0%, rgba(254,254,254,1) 0%, rgba(219,219,219,1) 100%);
    background: -ms-linear-gradient(top, rgba(209,209,209,1) 0%, rgba(254,254,254,1) 0%, rgba(219,219,219,1) 100%);
    background: linear-gradient(to bottom, rgba(209,209,209,1) 0%, rgba(254,254,254,1) 0%, rgba(219,219,219,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#dbdbdb', GradientType=0 );
}

.article1 {
    display: flex;
    justify-content: space-around;
}

.section__img {
    background-image: url("../images/black_chair.png");
    height: 400px;
    width: 40%;
    background-repeat: no-repeat;
    background-size: cover;
}

.section1__textfield {
    width: 40%;
}

.section1__textfield {
    margin: 40px 20px 0px 20px;
    border: 1px solid red;
}

.section1__txt h1 {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;

}

.section1__txt p {
    font-size: 20px;
    text-align: center;
}